__pycache__/
.vscode/
tmp/

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdv
*.xdy
*~
~$hpmor.docx
chapters/*-autofix.tex
hp-*.pdf
hpmor-*.pdf
hpmor.pdf
hpmor*.docx
hpmor*.epub
hpmor*.fb2
hpmor*.html
hpmor*.mobi
hpmor*.zip
